@import 'normalize.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* @import 'tailwind.config.js'; */
@import 'tailwindcss/utilities';

:root {
    --blackDefault: #000000;
    --gray100: #f3f4f6;
    --gray200: #9ca3af40;
    --gray300: #d5dae1;
    --red300: #d0011b;
    --orange300: #ee4d2d;
    --orange200: #f97316;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.limitNumbLine {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.hideScrollbar {
    overflow: -moz-scrollbars-none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */
    scrollbar-width: none; /* Firefox */
    -webkit-scrollbar-width: none; /* Chrome and Safari */
}

/* Hide scrollbar for Firefox */
.hideScrollbar::-webkit-scrollbar {
    display: none;
}
